{% extends 'base.html' %}
{% block title%} 
Contact
{% endblock %}

{% block content%} 
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <style>
        .contact-info {
            margin-top: 20px;
            text-align: center;
        }

        .contact-info p {
            margin-bottom: 5px;
        }

        .contact-info i {
            margin-right: 5px;
        }
    </style>

    <div class="contact-info">
    <h3>Contact Information</h3>
    <p><i class="fas fa-envelope"></i>Email: abhinandhukarol@gmail.com</p>
    <p><i class="fas fa-phone"></i>Phone: +91 9562153784</p>
    <p>
        <i class="fab fa-linkedin"></i>LinkedIn:
        <a href="https://www.linkedin.com/in/abhinandhu-aji-071b4b21b">ABHINANDHU AJI</a>
    </p>
    <div class="social-icons">
        <a href="https://www.facebook.com/abhinandhu.aji/"><i class="fab fa-facebook"></i></a>
        <a href="https://www.instagram.com/abhinandhuaji_/"><i class="fab fa-instagram"></i></a>
        <a href="https://www.twitter.com/abhinandhuaji_"><i class="fab fa-twitter"></i></a>
    </div>
{% endblock %}