<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>HTML Forms in Django</title>
  </head>
  <body>
    <h2>Processing HTML Forms in Django</h2>
    <form action="/student/" method="post">           
        {% csrf_token %}
        <table>
            <tr>
              <td>{{ form.name.label }}</td>
              <td>{{ form.name }}</td>
            </tr>
            <tr>
              <td>{{ form.roll.label }}</td>
              <td>{{ form.roll }} (AM.EN.U4AIE20002)</td>
            </tr>
            <tr>
              <td>{{ form.year.label }}</td>
              <td>{{ form.year }} </td>
            </tr>
            <tr>
              <td>{{ form.dob.label }}</td>
              <td>{{ form.dob }} </td>
            </tr>
            <tr>
              <td>{{ form.degree.label }}</td>
              <td>{{ form.degree }} </td>
            </tr>
            <tr>
              <td>{{ form.branch.label }}</td>
              <td>{{ form.branch }} </td>
            </tr>
        </table>
        <input type="submit" value="Submit">             
      </form>
  </body>
</html>